@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body {
  margin: 0;
  height: 90%;
  /* background-color: #171e29; */
  background-color: #171e29;
}

.home {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.home h3 {
  margin: 20px 0 20px 20px;
}
