@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.pages {
    margin-top: 4rem;
}

.primaryHeader {
    background-image:
	linear-gradient(to right, #26c784, #0f3443);
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    z-index: 1;

   
}

.navlist {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

.navitem {
    margin: 0;
    padding: 0;
    height: 100%;
}


.navitem a{
    margin: 0;
    height: 100%;
    text-decoration: none;
    color:white;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
}
